@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Montserrat|Raleway:100,200,300,400,500,600&display=swap');


h1, h2, h3, h4
{
    font-family: 'Raleway', sans-serif;
    color: var(--black);
    text-align: center;
}

:root {
    --white: #ffffff;
    --black: #2c2c2c;

    --shadow: #efefef;
    --border: #d4d4d4;

    --dark-red: #82252b;
    --light-red: #c25e5e;

    --coo: #ffffff;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;  /* Need */
    width: 100%;
    height: 100%;
    position: relative;
}

p {
    text-align: justify;
    text-justify: inter-word;
    margin: 20px 0 20px 0;
    line-height: 2.1;
}

html {
    color: var(--black);
    width: 100%;
}

a {
    text-decoration: none;
}

a:link
{
    color: var(--dark-red);
}

a:visited
{
    color: var(--light-red);
}

a:hover
{
    color: var(--light-red);
}

a:active
{
    color: var(--light-red);
}