.content-foundation {
  width: 100%;
  height: 100%;
  margin: auto;
}

.main-content {
  display: flex;
  margin-left: 256px;
  justify-content: center;
  align-items: center;
  padding: 100px 100px 100px 100px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
}

.content {
  display: block;
  margin: auto;
  padding: 10px 10px 10px 0;

}

.tab-content {
  display: flex;
  flex-direction: column;

  margin: auto;
  justify-content: center;
  align-items: center;
}

.container {
  margin: auto;
  border-radius: 2px 2px 2px 2px;
}

.written-word {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 700px;
}

.navigation_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: auto;
  padding: 0;
  width: 256px;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: var(--coo);
}

.history {
  min-width: 800px;

}

.four-oh-four {
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.border {
  border: 1px solid var(--border);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.column {
  width: 33.33%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-align: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  overflow: auto;
}

.lead {
  font-style: italic;
  text-align: center;
}


.portrait {
  width: 128px;
  height: 128px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image {
  border-radius: 50%;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-align: center;
  margin-left: auto;
  margin-right: auto;
}

.rounded-corners {
  border-radius: 2px 2px 2px 2px;
}

.signature {
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

.js-plotly-plot .plotly .modebar {
  padding-top: 5%;
  margin-right: 3.5%;
}

.now_playing_container {
  padding: 80px 0 40px 0;
}

.bare_container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.dcc_control {
  margin: auto;
  padding: 5px;
  max-width: 300px;
}

.control_label {
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}

.rc-slider {
  margin-left: 0px;
  padding-left: 0px;
}

.container-display {
  display: flex;
}

@media screen and (max-width: 700px) {

  .border {
    border: 0;
    border-radius: 0;
    box-shadow: 0;

  }


  .column {
    width: 100%;
  }

  .navigation_container {
    padding: 32px 0 32px 0;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .layout {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  .main-content {
    display: flex;
    margin-left: 0;
    padding: 0;
    align-items: center;
    flex-wrap: wrap;

  }

}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .navigation_container a {
    text-align: center;
    float: none;
  }
}


table {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

th {
  text-align: left;
  font-weight: 600;
  /* Keep */
}

td,
tr {}

table,
th,
td {
  border: 0 solid var(--border);
  border-collapse: collapse;
  padding: 14px 14px 14px 14px;
}

tr:nth-child(even) {
  background-color: #fafafa;
}
